@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is our Lobby</p>
    <p id="globalMessage"></p>
</div>



<script src="~/js/signalr.js"></script>
<script src="~/js/lobby.js"></script>
